[Unit]
Description=%i Server
After=network.target

[Service]
Type=simple
EnvironmentFile=/opt/gameServer/servers/%i.conf
ExecStart=/bin/bash -c "$serverDir/run.sh"
